* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sanya-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
}

.sanya-descryption {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: black;
}